# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Raw data (descargada por el script de ingesta)
datos/raw/*.csv

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.code-workspace

# Environment variables
.env
